{% extends "base.html" %}

{% block title %}<title>Home | Tag App </title>{% endblock title %}
{% block body_id %}home_page{% endblock body_id %}

{% block content %}
    
    {% if subjects %}
            <ul class="subject">
                    {% for subj in subjects %}                        
                        <li ><a href="#" class="subjects_li shrink"> + </a> {{ subj.name }} <a href="{% url 'delete_tag' tag_id=subj.id %}"> x </a>
                            <ul class="submenu">
                                {% for topic in subj.topic_set.all %}
                                    <li class="submenu_li"><a href="#" class="subjects_li shrink"> + </a>{{ topic.name}} <a href="{% url 'delete_topic' topic_id=topic.id %}"> x </a>
                                        <ul class="submenu">
                                            {% for concept in topic.concept_set.all %}
                                                <li class="submenu_li"> {{ concept.name}} <a href="{% url 'delete_concept' concept_id=concept.id %}"> x </a>
                                            {% endfor %}
                                            {% if user.is_superuser %}
                                                <form name="concept_form" action="{% url 'add_concept' %}" method="post">  
                                                    {% csrf_token %}         
                                                    New concept: <input type="text" name="concept" /> 
                                                    <input type="hidden" name="topic" value='{{topic.id}}' />
                                                    <input type="submit" name="submit" value='+' />
                                                </form>
                                            {% endif %}
                                        </ul>                                
                                    </li>
                                {% endfor %}
                                {% if user.is_superuser %}
                                    <form name="topic_form" action="{% url 'add_topic' %}" method="post">  
                                        {% csrf_token %}         
                                        New topic: <input type="text" name="topic" /> 
                                        <input type="hidden" name="subject" value="{{subj.id}}"/> 
                                        <input type="submit" name="submit" value='+' />
                                    </form>
                                {% endif %}
                            </ul>
                            

                        </li> 

                    {% endfor %}

                </ul>
           
            {% if user.is_superuser %}
                <form name="subject_form" action="{% url 'tree_view' %}" method="post">  
                    {% csrf_token %}         
                    New Subject: <input type="text" name="subject" /> 
                    <input type="submit" name="submit" value='+' />
                </form>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% endif %}
    {% else %}
        <h2>No subjects created</h2>
        <p>Please click here to create a subject <a href="{% url 'login'%}">Login</a></p>
    {% endif %}
        
        

{% endblock %}
    
        
        
   