<html>
	<h2>Welcome</h2>
	<body>
		{% if subject %}
			<ul class="subject">
	                {% for subj in subject %}                        
	                    <li style="list-style:none;"class="subje_li"><a href="#" style="text-decoration:none;">+</a>{{ subj.name }}
	                        <!-- <ul class="submenu">
	                            {% for submenu in menu.submenu_set.all %}
	                                <li class="submenu_li"><a href="{% url 'render_submenupage' menu_slug=menu.slug submenuslug=submenu.slug %}">{{ submenu.title}}</a></li>
	                            {% endfor %}
	                        </ul> -->
	                    </li>                        
	                {% endfor %}
	            </ul>
		
				<ul>
					<li><a href="{% url 'add_subject' %}">Add a Subject</a></li>
				</ul>
		{% endif %}
	</body>
</html>