<!doctype html>

<html class="no-js" lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        {% block title %}
            <title>Tag App</title>
        {% endblock title %}
        <meta name="description" content="Tag App">
        <meta name="author" content="Tag App">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        {% block extrahead_js %}
            <script type="text/javascript" src="/static/js/mootools-core-1.4.2-full-compat-yc.js"></script>
            <script type="text/javascript" src="/static/js/mootools-more-1.4.0.1.js"></script>
            <script type="text/javascript" src="/static/js/common.js"></script>
        {% endblock extrahead_js %}
        {% block extrahead_css %}
            <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        {% endblock extrahead_css %}
        
    </head>

    <body id="{% block body_id %}base{% endblock body_id %}">
        <div class="container" >
            {% block body %}
                
                    {% spaceless %}
                        <div class="header">
                            {% block header %}
                                {% if user.is_authenticated %}
                                    <p><a href="{% url 'logout' %}">Logout</a></p>
                                {% else %}
                                    <p><a href="{% url 'login'%}">Login</a></p>
                                {% endif %}
                            {% endblock header%}
                        </div>
                        <div class="content" >
                            {% block content %}
                                
                            {% endblock content %}
                        </div>
    
                    {% endspaceless %}
                
            {% endblock body %}
        </div>       
    </body>
</html>
