{% extends "base.html" %}

{% block title %}<title>Login | Tag App </title>{% endblock title %}
{% block body_id %}home_page{% endblock body_id %}

{% block content %}
    
    <div class="login_form">
	    <form method="post" action="{% url 'login' %}">{% csrf_token %}
				{{error}}
				<label for="username">Username</label>
				<input type="text" class="login_tabs" name="username"value="" >
				<label for="password">Password</label>
				<input type="password" class="login_tabs" name="password" value="">
				<input type="submit" value="Submit">
		</form>
    </div>
{% endblock %}

		
